#container {
  width: 1200px;
  margin: 0 auto;
}

#title-container {
  color: rgb(128, 128, 128);
  text-align: center;
}

#title-container > h1 {
  font-size: 2.5em;
}

#title-container > p {
  font-size: 1.2em;
  color: #d4d4d4;
}

#travel-list {
  padding-top: 20px;
}

.travel-card {
  width: 250px;
  height: 340px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  float: left;
  text-align: center;
  margin-right: 20px;
}

img {
  border-radius: 50%;
  width: 150px;
  margin: 15px;
}

a {
  text-decoration: none;
  color: black;
}