* {
  margin: 0;
  box-sizing: border-box;
}

div, nav, li {
  border: 1px dotted #ccc;
}
#container > div, nav{
  border-color: red;
  margin: 3px 0px;
}

#container {
  width: 320px;
  padding: 3px;
  height: 500px;
  background-color: #f4f8ff;
}

#header {
  display: flex;
  justify-content: left;
  height: 25px;
}

.history {
  margin-left: auto;
}

#view {
  text-align: right;
  height: 100px;
}

.sub-result {
  height: 35%;
  padding: 4px 7px;
}

.result {
  height: 65%;
  padding: 0px 7px;
  font-size: 35px;
}

#selection > ul {
  text-align: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 30px;
  padding-left: 0px;
  font-family: "LINE Seed JP", sans-serif;
  line-height: 30px;
}

#btn-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
  height: 320px;
}

.btn {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 0px #e3e3e3;
  background-color: white;
  line-height: 48px;
  font-size: 17px;
}

.operator {
  background-color: #f5f8fc;
}

.btn:hover {
  background-color: rgba(230, 230, 230, 0.1);
}

.operator:hover {
  background-color: rgba(230, 230, 230, 0.3);
}

.btn:active {
  opacity: 0.6;
}

.press-btn {}